
div#wrapper {
	margin: 0px auto;
	width: 960px;	
	background-color: #FFFFFF;
    border: 0 solid #FFFFFF;
    box-shadow: 0 0 10px #AAAAAA;
    -moz-box-shadow: 0 0 10px #AAAAAA;
    -webkit-box-shadow: 0 0 10px #AAAAAA;
	padding: 10px 20px 10px 20px;
}

div#header {
}

div#header_logo {
	width: 80px;
	float: left;
	height: 55px;
}

div#header_text {
	/*display: inline-block;*/
	float: left;
	/*margin-left: 80px;*/
	width: 600px;
	height: 25px;
	font-size: 1.6em;
	padding: 15px;
}

div#header_text span {
    color: #a3cb51;
    font-family: georgia;
    font-weight: normal;
}

div#header_tools {
	/*display: inline-block;*/
	float: right;
	width: 70px;
	font-size: 0.8em;
	height: 40px;
}

div#header_tools  a {
	color: #1E90FF;
	text-decoration: none;
}

div#footer {
	margin-top: 40px;
	text-align: center;
}

div#search {
/*	background-color: #eeeeee; */
	padding: 10px;
}

div#search .buttonrow {
	margin-left: 10px;	
}

div#search .buttonrow a {
	color: #1E90FF;
	text-decoration: none;
	font-size: 0.8em;
}

div#search input#search_crit_old {
	border-color: -moz-use-text-color;
    border-style: none;
    border-width: medium;
    font-size: 14px;
    height: 25px;
    padding: 3px;
    width: 635px;
}

div#search input#search_crit {
	border-width: 1px;
	border-style: solid;
	border-color: #AAA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    font-size: 14px;
    height: 25px;
    padding: 3px;
    width: 635px;
}

div#search input#search_do {
	background: transparent url('../images/oval-gray.png') no-repeat top right;
/*	background: url("../images/search_btn.png") no-repeat scroll 0 0 transparent; */
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: medium;
    color: #1E90FF;
    font-size: 125%;
    height: 24px;
    width: 130px;
}

div#search_option .option {
	margin-top: 10px;
}

div#search_option .option_check {
	margin-right: 10px;
	white-space: nowrap;
}

div#result {
	min-height: 500px;
}

div#result_facet {
	width: 200px;
	float: left;
}

div#result_content {
	margin-top: 20px;
	margin-left: 220px;
}

.hand {
	cursor: pointer;
}

/*
div#result_content {
	margin-top: 20px;
	width: 700px;
	float: left;
}
*/

#div_query_language {
	display: none;
}