.spacer { margin-top: 30px; }
.spacer_small { margin-top: 20px; }

/* EUGENE'S CODE */
a {
  color: #000;  
}
a:hover {
  color:#000;
  background: #FFFF00;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
background: #000 !important;
}
.spacer_tiny {
padding-top: 15px;
}
.spacer_small {
padding-top: 20px;
}
#result_facet {
background: #F8F8F8;
margin-top: 30px;
}
.msearch {
background: #efefef;
padding: 20px 25px;
position: relative;
float: left;
margin-left: 10px;
width: 96%;
}

#result_items a {
  color: #59bbfa;  
}
#result_items a:hover {
  color:#59bbfa;
  background: #FFFF00;
}

.count {
background: #59bbfa; 
padding: 13px 20px;
font-size: 15px;
font-style: italic;
font-family: georgia;
border-radius: 5px;
border: 1px solid #1E90FF;
}
dl {
margin-bottom: 0px !important;
border-bottom: 1px dotted rgb(175, 175, 175);
padding-bottom: 10px !important;
margin-top: 0px !important;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px
}
dl:hover {
background: whiteSmoke;
}
.hero-unit {
padding: 10px 30px !important;
margin-bottom: 0px !important;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #FFFF00;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
margin-top: 20px;
text-align: center;
border: 1px dashed #D3D3BD;
}

.hero_social {
white-space: normal;
line-height: normal;
font-weight: normal;
font-size: medium;
font-variant: normal;
font-style: normal;
text-align: start;
}

.input-prepend.input-append {
/* background: #dfdfdf; */
padding: 0px;
margin: 10px 0px;
}
.header {
  background-color: #F8F8F8;
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0 4px 0px;
}
#header_tools a {
color: #A7A7A7;
float: left;
position: relative;
padding: 0px 8px;
}
#header_tools a:hover {
color:#FFFF00;
background: none !important;
}
#header_tools {
padding-top: 11px;
}
#header_text h1 {
color: #59bbfa;
}
#header_text a:hover {
background: none;
opacity: 1.0;
}
.h_tools {
text-align: right;
float: right;
}

/* =-------------------= */
/* EUGENE'S MEDIA QUERIES */
 @media (max-width: 1200px) {
  .msearch { 
    margin-left: 0px;
    width: 570px;
  }
  #search_crit {
  width: 410px;
  }

}

 @media (max-width: 979px) {
  #header_text img {
  padding: 0px 20px;
  }
  .input-xxlarge {
  width: 460px;
  }
  .msearch {
  padding: 20px 22px;
  margin-left: 0px;
  width: 432px;
  }
  #search_crit {
  width: 270px;
  }

} 
@media (max-width: 767px) {
  .input-xxlarge {
  width: 460px;
  }
  .msearch { 
    width: 355px;    
  }  
  .row.spacer_small {
  padding-left: 0px;
  }
  #search_crit {
  width: 193px;
  }
}
@media only screen and (max-width:480px){
  .h_tools {
  text-align: center;
  float: left;
  }
  .msearch { 
  }  
  .hero_table { display: none; }
  .hero_normal {
  font-size: 18px !important;
  line-height: 18px;
  }  
}
@media only screen and (max-width:320px){
  .msearch { 
    width: 233px;
  }
  #search_crit {  
  width: 136px
  }
  #reset {
  display: none;
  }
  .btn.sa_button {
  font-size: 11px;
  }
}
@media only screen and (max-width:240px){
  .msearch { 
    padding: 0px;
  }  
  #search_crit {
    width: 126px;
  }
  .hero-unit {
  font-size: 13px;
  line-height: 23px;
  }   
  #header_text img {
  padding: 0px 5px;
  width: 185px;
  }
 #header_tools a {
  font-size: 12px;
  } 
  .btn.sa_button {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 3px;
  margin-left: 17px !important;
  } 
  #search_do {
  font-size: 11px;
  }
  #search_crit {
  width: 106px;
  } 
  .msearch {
  background: #FFF;
  }
}
/* EUGENE'S HOMEPAE REFINEMENT PART TWO */
.sa_button {
margin-right: 5px;
}
.btn.btn-custom {
display: none;
}
/* TOP */
.hero_normal {
font-size: 28px;
font-weight: 100;
font-style: normal;
/* text-shadow: 1px 1px 1px #F1EFB6; */
}
.hero_smaller {
font-style: italic;
font-family: georgia;
font-size: 12px;
line-height: 16px;
}
.hero_table td {
padding: 0px 6px;
vertical-align: top;
}
/* ------------------------------------ */

.footer {
	background-color: #F8F8F8;
    border-top: 1px solid #E0E0E0;
    padding: 10px 0 4px 0px;
    text-align: center;
}

.main_body {
	min-height:100%;
}

#push,
#footer {
    height: 30px;
}

body {
   height:100%;
}

h1 {
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
    text-align: right;
}

div#result_content dd span.mnemo {
	margin: 0px 0px 10px;
	width: 100%;
	font-size: 70%;
	font-weight: bold;	           
}

div#result_content dd span.value {
	margin: 0px 0px 10px;
	width: 100%;
	font-size: 70%;
}

/* http://charliepark.org/bootstrap_buttons/ */
.btn-custom {
  background-color: hsl(0, 0%, 62%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#9e9e9e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#9e9e9e));
  background-image: -moz-linear-gradient(top, #f9f9f9, #9e9e9e);
  background-image: -ms-linear-gradient(top, #f9f9f9, #9e9e9e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #9e9e9e));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #9e9e9e);
  background-image: -o-linear-gradient(top, #f9f9f9, #9e9e9e);
  background-image: linear-gradient(#f9f9f9, #9e9e9e);
  border-color: #9e9e9e #9e9e9e hsl(0, 0%, 53%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
  -webkit-font-smoothing: antialiased;
}


.more2 {
    display: block;
    /*float: left;*/
    font: 11px/15px Arial,Helvetica,sans-serif;
    padding-bottom: 2px;
    padding-left: 10px;
}

.gdash {
    color: #676767;
    text-decoration: none;
}

.mt10 {
    margin-top: 10px;
}

.holy, .clrfix {
    height: 1%;
}

.facet_scroll {
	max-height: 290px;
	line-height: 20px;
	overflow-x: auto;
	overflow-y: auto;
	/*width: 365px;*/
}

.facet_count {
	float:right; font:11px/19px Arial, Helvetica, sans-serif;color:#333;
}
.facet_link {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.facet_line {
border-bottom: 1px dotted #E6E6E6;
padding: 3px 10px 5px 10px;
}

.doc_title {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
}

.doc_margin_left{
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.doc_summary {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 16px;
height: auto;
}

.doc_ul {
  display: inline;
  margin: 0 0 10px 0px;
}

.doc_lb {
    margin-left: 0px;
    padding-left: 11px;
}

.doc_g {
  color: black;
  font: 11px/14px Arial,Helvetica,sans-serif;
  /*background: #EEE;*/
  border-radius: 1px;
  padding: 0px 6px;
}

#div_query_collections_values .option_check {
	margin-right:20px
}
#div_query_collections_values .option_checkbox {
	margin-right:5px
}