*.class

# Package Files #
*.jar
*.war
*.ear

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
.svn
doc/
build/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

deprecated/
mysolrserver/
ca.old/
indexer_with_elastic/
web/search/src/config/config-demo-taligentia.ini
web/search/src/config/config-mysolrserver-default.ini
web/search/src/config/config-mysolrserver-demo-perso-taligentia.ini
web/search/src/config/config-mysolrserver-demo-taligentia.ini
web/search/src/config/config-mysolrserver-dev.ini
web/search/src/config/config-mysolrserver-perso-dev.ini
web/search/src/config/config-mysolrserver-test-taligentia.ini
web/crawler/src/pub/themes/mss
web/crawler/src/pub/themes/taligentia
web/crawler/src/config/config-hurisearch.ini
web/crawler/src/config/config-mysolrserver-default.ini
web/crawler/src/config/config-mysolrserver-dev.ini
web/crawler/src/config/config-mysolrserver-perso-dev.ini
web/crawler/src/config/config-mysolrserver-taligentia-demo.ini
web/crawler/src/config/config-mysolrserver-taligentia-perso-demo.ini
web/crawler/src/config/config-mysolrserver-taligentia-test.ini
web/crawler/src/config/config-mysolrserver-wiizio-demo.ini
web/crawler/src/config/config-social-computing.ini
web/crawler/src/config/config-taligentia-demo.ini
web/crawler/src/config/config-taligentia-test.ini
web/crawler/src/config/config-wiizio-demo.ini
web/crawler/src/config/config.ini-crawl-anywhere
web/crawler/src/config/win
web/crawler/src/config/preprod
web/crawler/src/config/prod
web/search/src/pub/themes/taligentia
web/search/src/pub/themes/amnesty
java/indexer/config/indexer/indexer-dev.xml
java/indexer/config/indexer/indexer-default-350.xml
java/indexer/config/indexer/indexer-default-400.xml
java/simplepipeline/config/pipeline/solrboost-dev.xml
java/simplepipeline/config/pipeline/solrmapping-dev.xml
java/simplepipeline/config/pipeline/esmapping-dev.xml
java/simplepipeline/config/pipeline/simplepipeline-dev.xml
web/crawler/src/config/config-dev.ini
web/search/src/config/config-dev.ini
java/solr/config/multilingual.xml
build.log
java/crawler/config/crawler/crawler-dev.xml
java/crawlerws/config/crawlerws/crawlerws-dev.xml
java/indexer/config/indexer/es_analysis.json
java/indexer/config/indexer/es_mapping_en.json
java/indexer/config/indexer/es_mapping_fr.json
java/simplepipeline/config/pipeline/scripts/pipeline/doctextextractor/www_dokterdokter_nl.xml
web/crawler/src/pub/ajax/import-convert.class.php
web/search/src/config/config-amnesty.ini
java/simple-http-client
indexer.log
