HTML {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 100%/ 150% "Lucida Grande", "Times New Roman", Times, serif;
	PADDING-TOP: 0px
}

BODY {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 100%/ 150% "Lucida Grande", "Times New Roman", Times, serif;
	PADDING-TOP: 0px
}

FORM {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 100%/ 150% "Lucida Grande", "Times New Roman", Times, serif;
	PADDING-TOP: 0px
}

FIELDSET {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 100%/ 150% "Lucida Grande", "Times New Roman", Times, serif;
	PADDING-TOP: 0px
}

H1 {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

H2 {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

H3 {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

H4 {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

H5 {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

H6 {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

P {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

PRE {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

BLOCKQUOTE {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

UL {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

OL {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

DL {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	width:100%
}

ADDRESS {
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

LI {
	MARGIN-BOTTOM: 5px
}

DD {
	MARGIN-BOTTOM: 5px
}

BLOCKQUOTE {
	MARGIN-BOTTOM: 5px
}

FORM LABEL {
	CURSOR: pointer
}

FIELDSET {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}

INPUT {
	FONT-FAMILY: "Lucida Grande", "Times New Roman", Times, serif;
	FONT-SIZE: 100%
}

SELECT {
	FONT-FAMILY: "Lucida Grande", "Times New Roman", Times, serif;
	FONT-SIZE: 100%
}

TEXTAREA {
	FONT-FAMILY: "Lucida Grande", "Times New Roman", Times, serif;
	FONT-SIZE: 100%
}