/*-------------------------------------------------------------------------------------------*/
/* RESET */
/*-------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ | v1.0 | 20080212 */

body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }/* remember to define focus styles! */
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }/* tables still need 'cellspacing="0"' in the markup */

/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* Floating & Alignment */
.fl{float: left;}
.fr{float: right;}
.ac{text-align: center;}
.ar{text-align: right;}

/* Clear Floats */
.col-full:after{content: "."; display: block;height: 0;clear: both; visibility: hidden;}

.fix{clear: both;height: 1px;margin: -1px 0 0;overflow: hidden;}

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}/* http://sonspring.com/journal/clearing-floats */
